@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

html{
  background: url("earth.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 15px;
  overflow-y: auto;
}
::-webkit-scrollbar-track {
  background: black; 
}
h1{
  color: rgb(190, 190, 190);
  font-size: 50px;
  font-family: 'Aldrich', sans-serif;
}
.App {
  text-align: center;
}
.nav{
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}